/* bibtex */
/* See https://www.w3schools.com/css/css_tooltip.asp */
.csl-entry pre{
  font-size: small;
  position: relative;
  display: inline-block;
  font-family: inherit;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.csl-entry pre {padding: 0; margin: 0; font-size: medium; position: relative; display: inline-block;}

@media screen{
  .csl-entry pre:before{
    content: '[bibtex]';
    font-size: medium;
    visibility: visible;
    padding: none;
  }
}

/* Tooltip text */
.csl-entry pre code{
  visibility: hidden;
  opacity: 0;
  background-color: rgba(250,250,250,0.95);
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
  margin: 0px;
  position: absolute;
  display: inline;
  transition:visibility 1000ms, opacity 1000ms ease-in-out;
  top: -5px;
  right: 105%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.csl-entry pre:hover code{
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease;
  z-index: 2;
}

.csl-right-inline {
  display: inline;
}

.csl-entry button{
  border: none;
  background: none;
}

@media print{
  .csl-entry button{display: none}
  .csl-entry {page-break-inside: avoid;}
  .csl-entry a.bib_dl {display: none}
}

.csl-entry div{display: inline}

div.csl-entry { margin: 0em; padding: 0em; }
div.csl-left-margin {display: none;}

#refs li {padding: 0.25em 0; display: flex; flex-direction: row}

div.csl-entry { display: inline-block; margin-left: 1.0em; }

#refs div { vertical-align: top;}

#refs section:first-of-type { counter-reset: bibcounter; }
#refs ol { list-style-type: none; }
div.csl-right-inline{margin-left: 0}

#refs ol {
  margin-left: 0ex;
}

#refs ol li:before {
  display: inline-block;
  vertical-align: top;
  content: counter(bibcounter) ". ";
  counter-increment: bibcounter;
}

