:root {
  /* Using a palette generated using https://coolors.co */
  /* CSS HSL */

  --tea-green           : hsla(81, 84%, 85%, 1);
  --yellow-green-crayola: hsla(77, 41%, 67%, 1);
  --light-slate-gray    : hsla(207, 16%, 56%, 1);
  --kombu-green         : hsla(71, 45%, 15%, 1);
  --moss-green          : hsla(71, 27%, 49%, 1);
  --tenne-tawny         : hsla(24, 83%, 45%, 1);

  --outer-space-crayola: hsla(173, 14%, 22%, 1);
  --outer-space-crayola-2: hsla(173, 14%, 24%, 1);
  --cadet-blue: hsla(174, 15%, 52%, 1);
  --light-cyan: hsla(171, 26%, 85%, 1);
  --cultured: hsla(170, 30%, 96%, 1);


  --main-bg-color     : hsla(170, 30%, 96%, 1);;
  --secondary-bg-color: hsla(171, 26%, 85%, 1);
  --main-color        : hsla(173, 14%, 22%, 1);
  --link-color        : hsla(173, 14%, 24%, 1);
  --nav-bg-color      : hsla(174, 15%, 52%, 1);
  --nav-border-color  : hsla(173, 14%, 22%, 1);
  --title-bg-color    : hsla(171, 26%, 85%, 1);
}

