@charset "UTF-8";
@media screen {
  nav > ul {
    margin: 3em;
    position: relative;
    transition: min-width 0.5s, min-height 0.5s;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    min-width: 0;
    min-height: 0;
  }
  nav > ul::before {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
    content: "☰";
    font-size: xx-large;
  }
  nav > ul li {
    font-size: normal;
    position: absolute;
    transform: translate(50%, 0%);
  }
  nav > ul li:nth-child(1) {
    top: 0%;
    right: 90%;
  }
  nav > ul li:nth-child(2) {
    top: 45%;
    right: 77.9422863406%;
  }
  nav > ul li:nth-child(3) {
    top: 77.9422863406%;
    right: 45%;
  }
  nav > ul li:nth-child(4) {
    top: 90%;
    right: 0%;
  }
  nav > ul li > a {
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
  }
  nav > ul li > a::before {
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%, -50%);
    visibility: visible;
  }
  nav:hover > ul {
    background: rgba(200, 200, 200, 0.8);
    min-width: 10rem;
    min-height: 10rem;
  }
  nav:hover > ul li > a {
    opacity: 1;
  }
  nav:hover > ul li > a:hover {
    visibility: visible;
  }
}

/*# sourceMappingURL=menu.css.map */
