@media print {
  html { background-color: rgba(237,237,240,1);  }

  body {
    background-color: white;
    width: 46em;
    padding: 2.50em 4.0em;
    margin: auto;
    margin-top: 2pt;
    font-family: Source Serif Pro, serif;
    font-size: 11pt;
  }

  header { padding-bottom: 2rem; font-size: xxx-large}

  header h1 {
    margin: 0 0;
    font-weight: normal;
    font-size: 60pt;
    padding-bottom: 0pt;
    line-height: 1.2em;
  }

  header address {
    font-style: normal;
    padding-top: 0pt;
    font-size: 22.5pt;
  }

  nav { display: none; }

  img {max-width: 30ex}

  main {
    text-align: justify;
    hyphens: auto;
    line-height: 1.2em;
    letter-spacing: -0.0pt;
    word-spacing: -0.85pt;
    font-kerning: auto;
  }


  main h1 { border-bottom: groove black 1.1pt; }

  main h2 {
    font-style: italic;
    font-weight: normal;
    font-size: medium;
  }
}
