@media screen {
  body {
    display: grid;
    grid-template-rows:    [header] min-content  [body] 1fr [footer] min-content;
    grid-template-columns: [menu] 1fr  [main] 60em [right-menu] 1fr;
    color: var(--main-color);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  header {
    grid-column: 1/4;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: var(--title-bg-color);
    color: var(--title-color);
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
  }

  nav ul {
    position: sticky;
    top: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 0;
  }


  nav ul {list-style-type: none; padding: 0.5ex 0; margin: 0;}

  nav a {
    display: inline-block;
    text-decoration:none;
    color: black;
    font-variant:small-caps;
    width: 100%;
    line-height: 2;
    border-right: transparent 2pt solid;border-left: transparent 2pt solid;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align:left;
  }

  nav li {padding: 0 0em;}

  nav li a:hover {
    border-right: var(--nav-border-color) 2pt solid;
    border-left: var(--nav-border-color) 2pt solid;
  }

  nav ul {list-style-type: none; padding: 0.4em 0.2em; margin: 0;}

  nav a:hover {
    background: rgba(255,255,255,0.7);
  }

  img {max-width: 30ex;
  border-radius: 15ex;
  float: left;
  margin-right: 2em;
  }

  main {
    grid-row: 2;
    grid-column: 2;
    min-width: 60em;
    margin: 0 auto;
    padding: 1rem 1rem;
  }

  main > section {
    clear: both;
    margin: 0
    padding: 0;
    padding-left: 0.5em;
    z-index: 1;
  }

  main > section > h1:first-child {
    padding-top: 0.5em;
    margin:0px;
    font-variant:small-caps;
    font-size: 2rem;
  }

  main > section > h1 + p {
    padding-top: 1em;
  }

  @media only screen and (max-width: 600px) {
    nav a {
      visibility: hidden;
      overflow: hidden;
      font-size: 1pt;
    }
  }

  @media only screen and (min-width: 601px) {
    nav {
      font-size: 1.5rem;
    }
  }
}
