main h1,main h2 { font-family: Source Sans Pro, serif; padding: 0;}

main h1 {
  font-variant:small-caps;
  font-weight: normal;
  font-size: large;
  line-height: 1em;
  margin-top: 1.5em;
}

main h2 {
  margin: 1em 0 0.5em 0;
}


main li {
  margin-left: -0.5em;
  padding-left: 0.5em;
}


dt {
  display: inline;
  font-family: Source Sans Pro;
  font-weight: bold;
  margin-right: 0.5em;
  clear: left;
  float: left;
}


a { color:var(--link-color); }


ol {
  margin: 1ex 3ex;
  padding-left: 1.0em;
}

nav a:before {
  display: inline-block;
  visibility: visible;
  font-size: xx-large;
  min-width: 1.3em;
}


nav a[href="#research"]:before { content: '🔍 '; }
nav a[href="#about"]:before {content: ' ❓';}
nav a[href="#home"]:before { content: '🏠 '; }
nav a[href="#publications"]:before { content: '📜 '; }
nav a[href="#contact"]:before { content: '✉️ '; }
nav a[href="#teaching"]:before {content: '🧑‍🏫 '; }
