@use 'sass:math'

$nitems: 4

@media screen
  nav
    > ul
      margin: 3em
      position: relative
      transition: min-width 0.5s, min-height 0.5s
      border-bottom-left-radius: 100%
      border-top-left-radius: 0%
      border-bottom-right-radius: 0%
      border-top-right-radius: 0%
      min-width: 0
      min-height: 0
      &::before
        position: absolute
        top: 0%
        right: 0%
        transform: translate(50%, -50%)
        content: '☰'
        font-size: xx-large
      li
        font-size: normal
        position: absolute
        transform: translate(50%, 0%)
        @for$i from 0 through $nitems - 1
          &:nth-child(#{$i + 1})
            //top: (1+calc(sin($i*2*pi/$nitems)))*50%
            //left: (1+calc(cos($i*2*pi/$nitems)))*50%
            top: (calc(sin($i*pi/(2*$nitems - 2))))*90%
            right: (calc(cos($i*pi/(2*$nitems - 2))))*90%
        > a
          opacity: 0
          transition: opacity 0.5s
          visibility: hidden
          &::before
            position: absolute
            top: 0%
            right: 50%
            transform: translate(50%, -50%)
            visibility: visible

    &:hover
      > ul
        //border: 2pt solid rgba(0,0,0,0)
        //background: rgba(100,100,0,0)
        background: rgba(200,200,200,0.8)
        min-width: 10rem
        min-height: 10rem
        li > a
          opacity: 1
          &:hover
            visibility: visible
